<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>WaltersWheels</title>
</head>
<body>
<main class="banner">
  <h1><i class="fa fa-bicycle" style="font-size:20px"></i> Walter's Wheels <i class="fa fa-bicycle" style="font-size:20px"></i></h1>
</main>
<nav class="navbar">
  <ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#Inventory">Inventory</a></li>
    <li><a href="#Manufacturers"></a>Manufacturers</li>
    <li><a href="Stock Alerts">Stock Alerts</a>
    <li><a href="#Profitable Items">Profitable Items</a>
</nav>




</body>
</html>
