<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="/tables.css">
  <title>Walters Wheels</title>
</head>
<body>
<section class="banner">
  <h1><i class="fa fa-bicycle" style="font-size:40px"></i> Walter's Wheels <i class="fa fa-bicycle" style="font-size:40px"></i></h1>
</section>
<main class="flex flex--row">
<div id="nav">
  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/items">Inventory</a></li>
    <li><a href="/manufacturers">Manufacturers</a></li>
    <li><a href="/stock">Stock Alerts</a></li>
    <li><a href="/profits">Profitable Items</a></li>
  </ul>
</div>
</main>

<div class="yield-info">
  <%= yield %>
</div>



</body>
</html>
