h1{
  color: white;
  font-family: Verdana;
}
h2{
  color: #4F6367;
  font-family: Verdana;
  margin: 5px;
}
p {
  font-family: arial
}
.banner {
  background-color: #7A9E9F;
  border: 1px solid #FE5F55;
  width: 100%;
  text-align: center;
  margin: 0;
}
.yield-info {
  background-color: #B8D8D8;
  border: 1px solid #FE5F55;
  opacity: 0.8;
  padding: 5px 10px 10px 10px;
}
img {
    width: 100%;
    border: 1px solid #FE5F55;
}
/* NAVBAR */
* {
    box-sizing: border-box;
}
.navbar {
    display: flex;
    background-color: #FE5F55;
    justify-content: space-around;
}
.navbar a {
    color: ghostwhite;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    font-family: verdana;
    font-size: 15px;
}
.navbar a:hover {
    color: #B8D8D8;
}
span form {
  display: inline-block;
  margin-bottom: 6px;
}
.btn {
  border:0px none;
  border-radius: 5%;
  padding: 3px 4px;
  color: ghostwhite;
  cursor: pointer;
  font-family: arial;
}
.btn--input {
  background-color: #FE5F55;
}
.btn--input:hover {
  background-color: red;
}
.select {
  font-family: arial;
}
