th {
  color: ghostwhite;
  border: 1px solid #4F6367;
  background: #4F6367;
  border-right: 1px solid ghostwhite;
  font-size: 12px;
  padding: 5px;
  font-family: arial;
}

td {
  border: 1px solid #4F6367;
  background-color: ghostwhite;
  padding: 2px;
}

tr {
  border: 1px solid #4F6367;
  background-color: ghostwhite;
  text-align: center;
  font-family: arial;
}

#all-items {
  border-collapse: collapse;
  width: 100%;
}
#manufacturers {
  border-collapse: collapse;
  width: 100%;
}
#profitable-stock {
  border-collapse: collapse;
  width: 100%;
}
#critical-stock {
  border-collapse: collapse;
  width: 100%;
}
