<h2>Edit Manufacturer</h2>
<form method="post" action="/manufacturers/<%=@manufacturer.id%>">

  <label for="name">Name:</label>
  <input id="name" value ="<%=@manufacturer.name%>" type="text" name="name"/>

  <label for="address">Address:</label>
  <input id="address" value ="<%=@manufacturer.address%>" type="text" name="address"/>

  <label for="phone">Phone:</label>
  <input id="phone" value ="<%=@manufacturer.phone%>" type="text" name="phone"/>
  <br><br>
  <input class="btn btn--input" type="submit" value="Edit Manufacturer"/>
</form>
